/* 
Pallete Colors
#000000 -> rgb(0, 0, 0) -> Black
#0F6292 -> rgb(15, 98, 146) -> Blue
#16FF00 -> rgb(22, 255, 0) -> Neon Green
#FFED00 -> rgb(255, 237, 0) -> Yellow
#FFFFFF -> rgb(255, 255, 255) -> white
*/
html {
    background-color: #000000;
    font-size: 16px;
}

h1 {
    color: #0F6292;
    font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
    color: #16FF00;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
    color: #FFED00;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
}

p {
    color: #FFFFFF;
    font-family: "Fira Code", monospace;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  